#app {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

#app > li {
  margin-right: 10px;
}

ul ul {
  margin: 0;
  padding: 0;
  border-radius: 20px;
  border: 1px rgb(55, 148, 117) solid;
  list-style-type: none;
}

ul ul ul {
  padding-left: 0;
  margin-left: 30px;
}

ul > li > ul {
  padding: 5px 3px 5px 10px;
}

li {
  margin: 5px 0;
}
